/* class for the heading of the topic */
.heading {
    color: rgba(0, 43, 92, 0.822);
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

/* class for the img */
.teleportation_img {
    float: left;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 40px;
    margin-right: 20px;
}

/* class for the information of the topic */
.paragraph {
    color: black;
    font-size: 30px;
    text-align: left;
    margin-right: 10px;
}

/* class for button of the link */
.button {
    text-align: center;
    margin-top: 200%;
    font-size: 30px;
    margin-left: 35%;
    padding-top: 20%;
    color: #091353;
    text-decoration: none;
}

/* class for the bottom img of the page */
.bottom_teleportation {
    float: right;
    margin-right: 40px;
    margin-bottom: 15px;
}