/* class for the heading of the topic */
.heading {
    color: rgb(226, 46, 136);
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

/* class for the img */
.dark_matter_img {
    float: left;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 40px;
    margin-right: 20px;
}

/* class for the information of the topic */
.paragraph {
    color: white;
    font-size: 29px;
    text-align: left;
    margin-right: 7px;
}

/* class for button of the link */
.button {
    text-align: center;
    margin-top: 200%;
    font-size: 30px;
    margin-left: 35%;
    padding-top: 20%;
    color: #091353;
    text-decoration: none;
}

/* class for the bottom img of thr page */
.bottom_right {
    float: right;
    margin-right: 15px;
}