/* To set the position or overflow the content */
.container {
    position: relative;
}

/* In this section all the classe's and id's are made to set the  
UI(User Interface) of the font which will be appering on hover*/

/* class to style the font which will be appering on hover 
 to a specific object */

.text {
    box-sizing: border-box;
    border: 0.3vw solid grey;
    color: white;
    font-size: 20px;
    top: 200px;
    left: 200px;
    transform: translate(-50%, -50%);
    text-align: center;
}



/* Parent class having transition property of the text */
.overlay {
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 155px;
    right: 0;
    width: 20%;
    height: 20%;
    opacity: 0;
    transition: 2s ease;
    background-color: none;
}

/* Child class appling hover to the parent class  */
.container:hover .overlay {
    opacity: 2;
}

.topright_ghost {
    position: absolute;
    top: 180px;
    bottom: 0;
    left: 77%;
    right: 0;
    width: 20%;
    height: 20%;
    opacity: 0;
    transition: 2s ease;
    background-color: none;
}

.container:hover .topright_ghost {
    opacity: 2;
}

.topright_ghosttext {
    box-sizing: border-box;
    border: 0.3vw solid grey;
    color: white;
    font-size: 20px;
    top: 200px;
    left: 200px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.bottomleft_tree {
    position: absolute;
    top: 450px;
    bottom: 0;
    left: 180px;
    right: 0;
    width: 20%;
    height: 20%;
    opacity: 0;
    transition: 2s ease;
    background-color: none;
}

.container:hover .bottomleft_tree {
    opacity: 2;
}

.bottomleft_treetext {
    box-sizing: border-box;
    border: 0.3vw solid grey;
    color: white;
    font-size: 20px;
    top: 200px;
    left: 200px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.bottomright_tree {
    position: absolute;
    top: 370px;
    bottom: 0;
    left: 73%;
    right: 0;
    width: 20%;
    height: 20%;
    opacity: 0;
    transition: 2s ease;
    background-color: none;
}

.container:hover .bottomright_tree {
    opacity: 2;
}

.bottomright_treetext {
    box-sizing: border-box;
    border: 0.3vw solid grey;
    color: white;
    font-size: 20px;
    top: 200px;
    left: 200px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.bottomright_heading {
    position: absolute;
    top: 600px;
    bottom: 0;
    left: 71.5%;
    right: 0;
    width: 20%;
    height: 20%;
    opacity: 0;
    transition: 2s ease;
    background-color: none;
}

.container:hover .bottomright_heading {
    opacity: 2;
}

.bottomright_headingtext {
    box-sizing: border-box;
    border: 0.3vw solid grey;
    color: white;
    font-size: 20px;
    top: 200px;
    left: 200px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.topleft_bat {
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 40%;
    right: 0;
    width: 20%;
    height: 20%;
    opacity: 0;
    transition: 2s ease;
    background-color: none;
}

.container:hover .topleft_bat {
    opacity: 2;
}

.topleft_battext {
    box-sizing: border-box;
    border: 0.3vw solid grey;
    color: white;
    font-size: 20px;
    top: 200px;
    left: 200px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center_bat {
    position: absolute;
    top: 300px;
    bottom: 0;
    left: 74%;
    right: 0;
    width: 20%;
    height: 20%;
    opacity: 0;
    transition: 2s ease;
    background-color: none;
}

.container:hover .center_bat {
    opacity: 2;
}

.center_battext {
    box-sizing: border-box;
    border: 0.3vw solid grey;
    color: white;
    font-size: 20px;
    top: 200px;
    left: 200px;
    transform: translate(-50%, -50%);
    text-align: center;
}