/* universal class for arranging container in a flex  */

.container {
    display: flex;
}


/* button class for the all the containers of blogs */

.button {
    background-color: black;
    font-size: 200%;
    font-weight: 20%;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    color: white;
    text-decoration: none;
}


/* image class for all the images in the container of the blogs */

.img {
    float: center;
    margin-top: 0.5vw;
    padding-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 8px 8px;
}


/* font class for the fonts of the container of the blogs */

.font {
    font-size: 130%;
    font-weight: 10%;
}


/* here all the blogs are been made inside the container box and are  
displayed in a flex property as like box1......box6, box7 standing different 
due to alignment feature. numbering of boxes are done horizontally. */

.box1 {
    box-sizing: border-box;
    border: 0.3vw solid grey;
    width: 25%;
    text-align: center;
    border-radius: 5%;
    height: 180%;
    background-color: antiquewhite;
    margin-left: 1.5vw;
    padding: 1%;
    box-shadow: 0px 0px 15px white;
    margin-top: 7vw;
}

.box2 {
    float: right;
    box-sizing: border-box;
    border: 0.3vw solid grey;
    width: 25%;
    text-align: center;
    border-radius: 5%;
    height: 180%;
    background-color: antiquewhite;
    margin-left: 11vw;
    padding: 1%;
    box-shadow: 0px 0px 15px white;
    margin-top: 7vw;
}

.box3 {
    float: right;
    box-sizing: border-box;
    border: 0.3vw solid grey;
    width: 25%;
    text-align: center;
    border-radius: 5%;
    height: 180%;
    background-color: antiquewhite;
    margin-left: 11vw;
    padding: 1%;
    box-shadow: 0px 0px 15px white;
    margin-top: 7vw;
}

.box4 {
    float: left;
    box-sizing: border-box;
    border: 0.3vw solid grey;
    width: 25%;
    text-align: center;
    border-radius: 5%;
    height: 180%;
    background-color: antiquewhite;
    margin-left: 1.5vw;
    padding: 1%;
    box-shadow: 0px 0px 15px white;
    margin-top: 10.5vw;
}

.box5 {
    float: right;
    box-sizing: border-box;
    border: 0.3vw solid grey;
    width: 25%;
    text-align: center;
    border-radius: 5%;
    height: 180%;
    background-color: antiquewhite;
    margin-left: 11vw;
    padding: 1%;
    box-shadow: 0px 0px 15px white;
    margin-top: 10.5vw;
}

.box6 {
    float: right;
    box-sizing: border-box;
    border: 0.3vw solid grey;
    width: 25%;
    text-align: center;
    border-radius: 5%;
    height: 180%;
    background-color: antiquewhite;
    margin-left: 11vw;
    padding: 1%;
    box-shadow: 0px 0px 15px white;
    margin-top: 10.5vw;
}


/* Different container box has been made for box 7 due to alignment feature.  */

.box7 {
    float: center;
    box-sizing: border-box;
    border: 0.3vw solid grey;
    width: 25%;
    text-align: center;
    border-radius: 5%;
    height: 180%;
    background-color: antiquewhite;
    margin-left: 37.25vw;
    padding: 1%;
    box-shadow: 0px 0px 15px white;
    margin-top: 10.5vw;
}

.button7 {
    background-color: black;
    font-size: 200%;
    font-weight: 20%;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    color: white;
    text-decoration: none;
}